# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
/tmp
/out-tsc
*.tsbuildinfo

# dependencies
/node_modules

# release artifacts
/*-release.zip

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
junit.xml
newrelic_agent.log
migrations.json
.nvmrc

# System Files
.DS_Store
Thumbs.db
*.env
!pipelines.env
!pipeline-build.env
*.terraform
terraform.tfstate
terraform.tfstate.backup
*.tsbuildinfo

**/generated/*

.edgerc

# Package manager
package-lock.json
yarn.lock
.yarn

tsconfig.tsbuildinfo

# Next.js
.next

# Playwright reports
/test-results

# Docs
onyx-docs/site

# Playwright
**/test-results
**/playwright-report
**/playwright/.cache
.vercel

# Lighthouse
**/lighthouse-report

htmlreport.txt